
First Name : <input  [(ngModel)]="newUser.firstName"type="text"><br>
Last Name : <input  [(ngModel)]="newUser.lastName"type="text"><br>
<button (click)="createUser()" class="btn btn-primary">Submit</button>


<button (click)="getUsers()" class="btn btn-primary">Get Users</button>
<ul>
    @for (user of users; track user._id){
        <li>
            {{user.name}}
            {{user.firstName}} 
            {{user.lastName}} 
            <button (click)="deleteUser(user._id)">Delete</button>
        </li>

    } @empty {
        Empty list of users
    }
</ul>
